body {
  padding: 0px;
  margin: 0px;
}

.App{
  background-color: palevioletred;
  min-height: 200vh;
}

.home{ 
  min-height: 100vh;
  background: url("./components/img/IMG_2101.jpeg") ;
}

@media screen and (max-width: 1280px) {
#about-text-section,p {
  font-size: 25px;
  text-align: left;
  color: white;
  margin-left: 15px;
  padding-top: 420px;
  min-height: 150vh;
}

.home {
  min-height: 150vh;
  background: url("./components/img/IMG_2101.jpeg") no-repeat center;
}

#image-wrapper {
  display: grid;
  padding-top: 120px;
  grid-template-columns: repeat(1, 3fr);
  grid-auto-rows: 400px;
  border-color: #444;
  border: 30px;
  cursor: pointer;
  min-height: 200vh;
  }
}

@media screen and (max-width: 1200px) {
  #nav-logo {
    color: #ff0080;
    font-size: 30px;
    font-family: 'Satisfy', cursive;
    margin-left: 20px;
  }   
   .dropdown:hover {
      position: relative;
      display: inline-block;
      padding-bottom: 150px;
      border-style: solid;
      align-items: center;
      width: 145px
    }

    .dropdown-content a:hover { 
      width: 100%
  }
}

@media screen and (max-width: 800px) {
  .dropdown:hover {
      position: relative;
      display: inline-block;
      padding-bottom: 150px;
      border-style: solid;
      align-items: center;
      width: 145px;
    }

    .dropdown-content a:hover {
      width: 100%
    }
  }
