body {
  padding: 0px;
  margin: 0px;
}

p{
  margin-top: 300px;
  margin-left: 620px;
  text-align: center;
  font-size: 30px;
}

.App{
  background-color: palevioletred;
  min-height: 100vh;
}

.container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 5px 40px black;
  padding: 5px 5px;
  border-radius: 10px;
}

.home{
  /* background-size: cover;
    background-position: center; */
  
    min-height: 100vh;
  background: url("./components/img/IMG_2101.jpeg") ;
}

.home-container{
  box-shadow: 0px 5px 40px black;
  padding: 5px 5px;
  border-radius: 10px;
  margin-top: 200px;
  margin-left: 1300px;
}

.about-picture{
  margin-top:150px;
  margin-left: 30px; 
  position: absolute;
  width:620;
   height:770;
  top: 0;
}

.Subtitle,h1{
font-size: 70px;
}

header  {
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: white;
}

.nav-logo{
  color:#ff0080;
  font-size: 30px;
  font-family: 'Satisfy', cursive;
  text-decoration: none;
  list-style: none;
}

li, .shopping-cart{
  list-style: none;
}

.shopping-cart{
  font-size: 35px;
}

nav {
  background-color: white;
  position: absolute;  
  text-align: left;
  width: 100%;
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  
}

.nav-toggle{
  display: none;
}

.nav-toggle-label{
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 70px;
  height: 100%;
  display:flex;
  align-items: center;
}

.nav-toggle-label span ,
.nav-toggle-label span::before,
.nav-toggle-label span::after{

  display: block;
  background:black;
  height: 2px;
  width: 30px;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
  content: '';
  position: absolute;
}

.nav-toggle-label span::before{
  bottom: 7px;
}

.nav-toggle-label span::after{
  top: 7px;
}

.nav-toggle:checked ~ nav{
  transform: scale(1,1)
}

nav ul{
  margin: 0;
  padding: 0;  
  list-style: none;
}

nav li{
  font-size: 15px;
  padding-top:25px;
  margin-left: 70px;
 
}

li{
  padding-top: 10px;
}

nav a{
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition:opacity 250ms  ease-in-out 250ms
}

.nav-toggle:checked~nav a {
  display: block
}

nav a::before {
  content: '';
  display: block;
  height: 3.5px;
  transform : scale(0,1);
  transition: transform  ease-in-out 250ms;
  background-color: #444;
  width: 0%;
}

nav a:hover::before {
  transform: scale(1,1)
}

.footer-copyright {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;  
  text-align: center;
  width: 100%;
  height: 40px;
  background: white;   
  z-index: 1;
}

.About-Page-Title{
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: 'Satisfy', cursive;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  background-color: white;
  display: none;
  position:absolute;
  max-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.85);
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 5px 10px;
  /* text-decoration: none; */
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgba(77, 73, 73, 0.27);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.about-text-section {
  padding: 50px;
  text-align: center;
  color: white;
}

.image-wrapper {
  display: grid;
  padding-top: 120px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 400px;
  border-color: #444;
  border: 30px;
  cursor: pointer;

}

@media screen and (min-width: 1000px) {
  .nav-toggle-label{
    display: none;
  }

  header{
  display: grid;
  grid-template-columns: 1fr auto minmax(100px, 2fr) 1fr;
}

.nav-logo{
  grid-column: 3/  1;
}

nav{
  all: unset;
  grid-column: 4/4;
}

nav ul{
  display: flex;
}

nav li{
  margin-left: 3em;
}

nav a {
  opacity: 1;
}

nav a::before {
  height: 3px;
  background-color: #444;
  width: 0%;
}

nav a:hover::before {
  width: 100%;
  }


}

@media screen and (max-width: 2000px) {

     .about-picture {
       margin-top: 110px;
       /* margin-left: 10px; */
      /* width: 20px; */
       
       /* position: absolute; */
       /* top: 0; */

        /* display: grid; */
          /* padding-top: 10px; */
          grid-template-columns: repeat(1, 2fr);
          grid-auto-rows: 100px;
          border-color: #444;
          border: 30px;
          cursor: pointer;
     }


/* .about-text-section {
  font-size: 12px; 
   padding-top:400px;
  padding: 50px;
  text-align: center;
  color: white;
} */

.about-text-section {
  font-size: 12px;

  /* padding-bottom: 100px; */
  text-align: center;
  color: white;
}

/* h1{
  margin-top:900px
} */

p{
  font-size: 20px;
margin-left: 25px  ;
      margin-top: 750px
 
}

.home {
  /* background-size: cover;
    background-position: center; */

  min-height: 100vh;
  background: url("./components/img/IMG_2101.jpeg");
}

.image-wrapper {
  display: grid;
  padding-top: 120px;
  grid-template-columns: repeat(1, 3fr);
  grid-auto-rows: 400px;
  border-color: #444;
  border: 30px;
  cursor: pointer;
  min-height: 200vh;
  
}

}
